$none: 0 !important;
$default: 5px !important;
$xs: 10px !important;
$sm: 15px !important;
$md: 20px !important;
$lg: 30px !important;
$xl: 40px !important;

/** Margin Auto
 * --------------------------------------------------
 */
.m-auto { margin: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }

/** Margin Space
 * --------------------------------------------------
 */
.m-none {
  margin: $none;
}
.m {
  margin: $default;
}
.m-xs {
  margin: $xs;
}
.m-sm {
  margin: $sm;
}
.m-md {
  margin: $md;
}
.m-lg {
  margin: $lg;
}
.m-xl {
  margin: $xl;
}
.m-l-none {
  margin-left: $none;
}
.m-l {
  margin-left: $default;
}
.m-l-xs {
  margin-left: $xs;
}
.m-l-sm {
  margin-left: $sm;
}
.m-l-md {
  margin-left: $md;
}
.m-l-lg {
  margin-left: $lg;
}
.m-l-xl {
  margin-left: $xl;
}
.m-l-n {
  margin-left: -1px !important;
}
.m-l-n-xxs {
  margin-left: -$default;
}
.m-l-n-xs {
  margin-left: -$xs;
}
.m-l-n-sm {
  margin-left: -$sm;
}
.m-l-n-md {
  margin-left: -$md;
}
.m-l-n-lg {
  margin-left: -$lg;
}
.m-l-n-xl {
  margin-left: -$xl;
}
.m-t-none {
  margin-top: $none;
}
.m-t {
  margin-top: $default;
}
.m-t-xs {
  margin-top: $xs;
}
.m-t-sm {
  margin-top: $sm;
}
.m-t-md {
  margin-top: $md;
}
.m-t-lg {
  margin-top: $lg;
}
.m-t-xl {
  margin-top: $xl;
}
.m-t-n {
  margin-top: -1px !important;
}
.m-t-n-xxs {
  margin-top: -$default;
}
.m-t-n-xs {
  margin-top: -$xs;
}
.m-t-n-sm {
  margin-top: -$sm;
}
.m-t-n-md {
  margin-top: -$md;
}
.m-t-n-lg {
  margin-top: -$lg;
}
.m-t-n-xl {
  margin-top: -$xl;
}
.m-r-none {
  margin-right: $none;
}
.m-r {
  margin-right: $default;
}
.m-r-xs {
  margin-right: $xs;
}
.m-r-sm {
  margin-right: $sm;
}
.m-r-md {
  margin-right: $md;
}
.m-r-lg {
  margin-right: $lg;
}
.m-r-xl {
  margin-right: $xl;
}
.m-r-n {
  margin-right: -1px !important;
}
.m-r-n-xxs {
  margin-right: -$default;
}
.m-r-n-xs {
  margin-right: -$xs;
}
.m-r-n-sm {
  margin-right: -$sm;
}
.m-r-n-md {
  margin-right: -$md;
}
.m-r-n-lg {
  margin-right: -$lg;
}
.m-r-n-xl {
  margin-right: -$xl;
}
.m-b-none {
  margin-bottom: $none;
}
.m-b {
  margin-bottom: $default;
}
.m-b-xs {
  margin-bottom: $xs;
}
.m-b-sm {
  margin-bottom: $sm;
}
.m-b-md {
  margin-bottom: $md;
}
.m-b-lg {
  margin-bottom: $lg;
}
.m-b-xl {
  margin-bottom: $xl;
}
.m-b-n {
  margin-bottom: -1px !important;
}
.m-b-n-xxs {
  margin-bottom: -$default;
}
.m-b-n-xs {
  margin-bottom: -$xs;
}
.m-b-n-sm {
  margin-bottom: -$sm;
}
.m-b-n-md {
  margin-bottom: -$md;
}
.m-b-n-lg {
  margin-bottom: -$lg;
}
.m-b-n-xl {
  margin-bottom: -$xl;
}

/** Margin X or Horizontal Space
 * --------------------------------------------------
 */
.m-x-none {
  margin-left: $none;
  margin-right: $none;
}
.m-x {
  margin-left: $default;
  margin-right: $default;
}
.m-x-xs {
  margin-left: $xs;
  margin-right: $xs;
}
.m-x-sm {
  margin-left: $sm;
  margin-right: $sm;
}
.m-x-md {
  margin-left: $md;
  margin-right: $md;
}
.m-x-lg {
  margin-left: $lg;
  margin-right: $lg;
}
.m-x-xl {
  margin-left: $xl;
  margin-right: $xl;
}

/** Margin Y or Vertical Space
 * --------------------------------------------------
 */
.m-y-none {
  margin-top: $none;
  margin-bottom: $none;
}
.m-y {
  margin-top: $default;
  margin-bottom: $default;
}
.m-y-xs {
  margin-top: $xs;
  margin-bottom: $xs;
}
.m-y-sm {
  margin-top: $sm;
  margin-bottom: $sm;
}
.m-y-md {
  margin-top: $md;
  margin-bottom: $md;
}
.m-y-lg {
  margin-top: $lg;
  margin-bottom: $lg;
}
.m-y-xl {
  margin-top: $xl;
  margin-bottom: $xl;
}

/** Padding Space
 * --------------------------------------------------
 */
.p {
  padding: $default;
}
.p-xs {
  padding: $xs;
}
.p-sm {
  padding: $sm;
}
.p-md {
  padding: $md;
}
.p-lg {
  padding: $lg;
}
.p-xl {
  padding: $xl;
}
.p-none {
  padding: $none;
}
.p-l-none {
  padding-left: $none;
}
.p-l {
  padding-left: $default;
}
.p-l-xs {
  padding-left: $xs;
}
.p-l-sm {
  padding-left: $sm;
}
.p-l-md {
  padding-left: $md;
}
.p-l-lg {
  padding-left: $lg;
}
.p-l-xl {
  padding-left: $xl;
}
.p-l-n {
  padding-left: -1px !important;
}
.p-l-n-xxs {
  padding-left: -$default;
}
.p-l-n-xs {
  padding-left: -$xs;
}
.p-l-n-sm {
  padding-left: -$sm;
}
.p-l-n-md {
  padding-left: -$md;
}
.p-l-n-lg {
  padding-left: -$lg;
}
.p-l-n-xl {
  padding-left: -$xl;
}
.p-t-none {
  padding-top: $none;
}
.p-t {
  padding-top: $default;
}
.p-t-xs {
  padding-top: $xs;
}
.p-t-sm {
  padding-top: $sm;
}
.p-t-md {
  padding-top: $md;
}
.p-t-lg {
  padding-top: $lg;
}
.p-t-xl {
  padding-top: $xl;
}
.p-t-n {
  padding-top: -1px !important;
}
.p-t-n-xxs {
  padding-top: -$default;
}
.p-t-n-xs {
  padding-top: -$xs;
}
.p-t-n-sm {
  padding-top: -$sm;
}
.p-t-n-md {
  padding-top: -$md;
}
.p-t-n-lg {
  padding-top: -$lg;
}
.p-t-n-xl {
  padding-top: -$xl;
}
.p-r-none {
  padding-right: $none;
}
.p-r {
  padding-right: $default;
}
.p-r-xs {
  padding-right: $xs;
}
.p-r-sm {
  padding-right: $sm;
}
.p-r-md {
  padding-right: $md;
}
.p-r-lg {
  padding-right: $lg;
}
.p-r-xl {
  padding-right: $xl;
}
.p-r-n {
  padding-right: -1px !important;
}
.p-r-n-xxs {
  padding-right: -$default;
}
.p-r-n-xs {
  padding-right: -$xs;
}
.p-r-n-sm {
  padding-right: -$sm;
}
.p-r-n-md {
  padding-right: -$md;
}
.p-r-n-lg {
  padding-right: -$lg;
}
.p-r-n-xl {
  padding-right: -$xl;
}
.p-b-none {
  padding-bottom: $none;
}
.p-b {
  padding-bottom: $default;
}
.p-b-xs {
  padding-bottom: $xs;
}
.p-b-sm {
  padding-bottom: $sm;
}
.p-b-md {
  padding-bottom: $md;
}
.p-b-lg {
  padding-bottom: $lg;
}
.p-b-xl {
  padding-bottom: $xl;
}
.p-b-n {
  padding-bottom: -1px !important;
}
.p-b-n-xxs {
  padding-bottom: -$default;
}
.p-b-n-xs {
  padding-bottom: -$xs;
}
.p-b-n-sm {
  padding-bottom: -$sm;
}
.p-b-n-md {
  padding-bottom: -$md;
}
.p-b-n-lg {
  padding-bottom: -$lg;
}
.p-b-n-xl {
  padding-bottom: -$xl;
}

/** Padding X or Horizontal Space
 * --------------------------------------------------
 */
.p-x-none {
  padding-left: $none;
  padding-right: $none;
}
.p-x {
  padding-left: $default;
  padding-right: $default;
}
.p-x-xs {
  padding-left: $xs;
  padding-right: $xs;
}
.p-x-sm {
  padding-left: $sm;
  padding-right: $sm;
}
.p-x-md {
  padding-left: $md;
  padding-right: $md;
}
.p-x-lg {
  padding-left: $lg;
  padding-right: $lg;
}
.p-x-xl {
  padding-left: $xl;
  padding-right: $xl;
}

/** Padding Y or Vertical Space
 * --------------------------------------------------
 */
.p-y-none {
  padding-top: $none;
  padding-bottom: $none;
}
.p-y {
  padding-top: $default;
  padding-bottom: $default;
}
.p-y-xs {
  padding-top: $xs;
  padding-bottom: $xs;
}
.p-y-sm {
  padding-top: $sm;
  padding-bottom: $sm;
}
.p-y-md {
  padding-top: $md;
  padding-bottom: $md;
}
.p-y-lg {
  padding-top: $lg;
  padding-bottom: $lg;
}
.p-y-xl {
  padding-top: $xl;
  padding-bottom: $xl;
}
