<template>
  <div>
    <div>
      <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"/>
    </div>
    <el-button type="primary" class="m-t-sm" @click="drawer = true">Show Drawer</el-button>
    <el-button type="danger" icon="el-icon-delete" circle></el-button>
    <el-button plain :loading="true">Loading</el-button>
    <el-button type="info">
      Upload <i class="cog loading icon"></i>
    </el-button>
    <i class="crosshairs loading icon" style="font-size: 100px;"></i>
    <el-drawer
      title="I am the title"
      :visible.sync="drawer">
      <h2 class="m-md">Hi, there!</h2>
    </el-drawer>
  </div>

  <!-- <el-container>
    <el-header>Header</el-header>
    <el-main>Main</el-main>
  </el-container> -->

</template>

<script>
export default {
  data () {
    return {
      drawer: false
    }
  }
}
</script>
